/* styles.css */
.btn-new
{
    -fx-background-color: #0B63F6;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 6 12;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
    -fx-transition: all 0.2s ease-in-out;

    -fx-pref-width: 80;
    -fx-pref-height: 50;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.btn-new:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(65, 93, 152, 0.8), 6, 0.0, 0, 2);
}



#save_gen
{
    -fx-background-color: #0B63F6;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 6 12;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
    -fx-transition: all 0.2s ease-in-out;

    -fx-pref-width: 80;
    -fx-pref-height: 30;
}
#save_gen:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(65, 93, 152, 0.8), 6, 0.0, 0, 2);
}

.text_field_generator
{
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0.3, 2, 2);
}

.label_generator
{
    -fx-pref-width: 170px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5 15;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.helper_label_generator
{
    -fx-background-color: #7de38c;
    -fx-border-color: #3a7e44;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5 15;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.error_label_generator
{
    -fx-background-color: #e37d7d;
    -fx-border-color: #7e3a3a;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 5 15;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}